<div>
    <div class="header">
        <div class="help_text">You can specify additional requirements that are required to use this resource properly. Select required capabilities by adding items from the left column to the right column:. To modify requirement properties, click the "edit" button.</div>
    </div>
    <div class="left" style="margin-left:0px;margin-right:5px">
        <div style="height:400px;max-height:400px;overflow:auto">
            <abn-tree tree-data="requirements_available_tree" tree-control="requirements_available_tree_control" on-select="requirements_available_branch_select_handler(branch)" expand-level="1" initial-selection="" title="Available Requirements" empty-text="No available requirements." is-loading="requirements_available_is_loading()" is-error="requirements_available_is_error()" get-error-text="requirements_available_get_error_text()"></abn-tree>
        </div>
        <br/>
        <div ng-show="!requirements_available_loading && !requirements_available_load_error" style="max-height:80px;overflow:auto;border-width:1px;border-style:solid;margin-top:10px">
            <p style="width:90%;padding:5px">{$ requirements_available_description $}</p>
        </div>
    </div>

    <div class="right" style="margin-left:5px;margin-right:0px" ng-show="requirements_edit_open == false">
        <div style="height:400px;max-height:400px;overflow:auto">
            <abn-tree tree-data="requirements_existing_tree" tree-control="requirements_existing_tree_control" on-select="requirements_existing_branch_select_handler(branch)" expand-level="1" initial-selection="" title="Selected Requirements" empty-text="No selected requirements." is-loading="requirements_existing_is_loading()" is-error="requirements_exising_is_error()" get-error-text="requirements_existing_get_error_text()"></abn-tree>
        </div>
        <br/>
        <div ng-show="!requirements_existing_loading" style="max-height:80px;overflow:auto;border-width:1px;border-style:solid;margin-top:10px">
            <p style="width:90%;padding:5px">{$ requirements_selected_description $}</p>
        </div>
    </div>

    <div class="right" ng-show="requirements_edit_open == true" style="overflow:auto;max-height:480px;height:480px">
        <progressbar class="progress-striped active" max="100" value="100" ng-show="requirements_branch_in_edit.data.properties_is_loading">Loading...</progressbar>
        <div ng-show="requirements_branch_in_edit.data.properties_load_error">
            <p>
                <font color="red">
                    Loading properties failed: {{requirements_branch_in_edit.data.properties_load_error}}
                </font>
            </p>
        </div>
        <form name="requirements_edit_properties" ng-show="!requirements_branch_in_edit.data.properties_is_loading">
            <span ng-repeat="property in requirements_branch_in_edit.data.properties" ng-switch on="property.type">
                <ng-form name="property_form">
                <label ng-show="{$ !property.is_duplicate && property.type != 'confidential' $}">{{ property.name }}</label>
                    <table border="0px"
                           style="margin-bottom:0px"
                           ng-show="{$ property.type != 'confidential' $}">
                        <tr>
                            <td>
                                <select style="width: 60px" name="operator_value"
                                        ng-model="property.operator.selected"
                                        ng-required="true"
                                        ng-options="op for op in property.operator.items">
                                </select>
                            </td>
                            <td>
                                <input style="width:195px" ng-switch-when="string"
                                       name="property_value"
                                       type="text"
                                       value="{$property.value$}"
                                       ng-model="property.value"
                                       ng-required="{$ property.required $}"
                                       ng-pattern="/{$ property.pattern $}/"
                                       ng-minlength="{$ property.minLength $}"
                                       tooltip="[String] {$ property.description $}"
                                       ng-maxlength="{$ property.maxLength $}"/>
                                <select multiple
                                        style="width:195px;max-height:54px;height:54px;overflow:auto"
                                        ng-switch-when="choice"
                                        name="property_value"
                                        ng-model="property.value"
                                        ng-required="{$ property.required $}"
                                        ng-pattern="/{$ property.pattern $}/"
                                        tooltip="[Choice] {$ property.description $}"
                                        ng-minlength="{$ property.minLength $}"
                                        ng-maxlength="{$ property.maxLength $}"
                                        ng-options="item for item in property.items">
                                </select>
                                <input style="width:195px" ng-switch-when="integer"
                                       name="property_value"
                                       type="number"
                                       ng-model="property.value"
                                       ng-required="{$ property.required $}"
                                       ng-pattern="/^[^\.]*$/"
                                       min="{$ property.min $}"
                                       max="{$ property.max $}"
                                       tooltip="[Integer] {$ property.description $}"
                                       step="1"/>
                                <input style="width:195px" ng-switch-when="double"
                                       name="property_value"
                                       type="number"
                                       ng-model="property.value"
                                       ng-required="{$ property.required $}"
                                       tooltip="[Double] {$ property.description $}"
                                       min="{$ property.min $}"
                                       max="{$ property.max $}"/>
                                <input style="width:195px" ng-switch-when="date"
                                       name="property_value"
                                       type="date"
                                       tooltip="[Date] {$ property.description $}"
                                       ng-model="property.value"
                                       ng-required="{$ property.required $}"/>
                                <select style="width:195px" ng-switch-when="boolean"
                                        name="property_value"
                                        ng-model="property.value"
                                        ng-required="true"
                                        tooltip="[Boolean] {$ property.description $}">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                                <input style="width:195px" ng-switch-when="resource_id"
                                       name="property_value"
                                       type="text"
                                       value="{$ property.value $}"
                                       tooltip="[Resource ID] {$ property.description $}"
                                       ng-model="property.value"
                                       ng-required="{$ property.required $}"/>
                            </td>
                            <td>
                                <span ng-show="property_form.property_value.$valid && property_form.operator_value.$valid && !property.is_duplicate">
                                    <span ng-click="add_duplicate_row_clicked(property)"><span class="icon-plus  glyphicon glyphicon-plus  fa fa-plus" /></span>
                                </span>

                                <span ng-show="property.is_duplicate">
                                    <span ng-click="remove_duplicate_row_clicked(property)"><span class="icon-minus  glyphicon glyphicon-minus  fa fa-minus" /></span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td />
                            <td>
                                <span ng-show="property_form.property_value.$invalid && property_form.property_value.$dirty">
                                    <font color="red"><b>{$ detect_validity_errors(property_form.property_value) $}</b></font>
                                </span>
                            </td>
                        </tr>
                    </table>
                </ng-form>
            </span>
            <br/>
            <div ng-show="requirements_branch_in_edit.data.properties.length == 0">
                <p>
                    <font color="gray">
                        <i>No properties</i>
                    </font>
                </p>
            </div>
            <button ng-show="!requirements_branch_in_edit.data.properties_is_loading" ng-click="cancel_requirement_property_data_edit()" class="btn">Cancel</a>
            <button ng-click="save_requirement_property_data()"
                ng-show="!requirements_branch_in_edit.data.properties_load_error && !requirements_branch_in_edit.data.properties_is_loading && requirements_branch_in_edit.data.properties.length > 0"
                class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
