<div edit-graffiti-requirements class="django_data_holder capabilities" data-token="{{ step.token }}" data-temp-token="{{ step.temp_token }}" data-obj-id="{{ step.obj_id }}" data-service-url="{{ step.service_url }}" data-temp-url="{{ step.temp_url }}" data-obj-type="{{ step.obj_type }}" data-endpoint-id="{{ step.endpoint_id}}" data-namespace-type-mapping="{{ step.namespace_type_mapping }}">
</div>
<div class="hide">
    {% include "horizon/common/_form_fields.html" %}
</div>
{% block modal-footer %}
<button save-capabilities-and-requirements
        ng-click="$event.preventDefault(); save($event)"
        class="btn btn-primary"
        id="btn-save"
        data-dismiss="modal">Update</button>
<a cancel-capabilities-and-requirements
   ng-click="$event.preventDefault(); cancel($event)"
   class="btn secondary cancel close"
   id="btn-cancel"
   data-dismiss="modal">Cancel</a>
{% endblock %}
