{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}

{% block modal-header %}{% trans "Filter Tags" %}{% endblock %}

{% block modal-body %}
  <div>
    <label for="filter_name">Instance Name</label>
    <input type="text" id="filter_name">
  </div>  
  <div> 
    <label for="filter_flavor">Filter Flavor</label>
    <input type="text" id="filter_flavor" >
  </div>
  <div>    
    <label for="filter_image">Filter Image</label>
    <input type="text" id="filter_image">
  </div>
  <a href="{% url 'horizon:project:instances:secondfilter' %}" class="btn ajax-modal" id="graffiti_second_filter_link">{% trans "Second Filter" %}</a>
{% endblock %}

{% block modal-footer %}
  <a href="#" id="filter_apply" class="btn btn-primary pull-right close">{% trans "Filter" %}</a>
{% endblock %}
