{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block modal_id %}first_filter_modal{% endblock %}

{% block form_id %}{% endblock %}

{% block modal-header %}{% trans "Tagged resources" %}{% endblock %}

{% block modal-body %}
    <script>
        $( "#resources" ).click(function(e) {
            var name = e.target.id.slice(15, e.target.id.indexOf("__action_select_resource"));
            $('#first_filter_modal').modal('hide');
            $('#id_source_type').val(name);
        });
    </script>
{% endblock %}
