<div class="angular_tree_table">
  <div class="angular_tree_table_header">
    <span class="angular_tree_title">{{ title }}</span>
    <input id="angular_tree_filter" class="filter angular_tree_filter" type="text" placeholder="Filter" name="angular_tree_filter" ng-model="abn_filter_value" ng-change="filter_changed()"/>
  </div>
  <progressbar class="progress-striped active" max="100" value="100" ng-show="isLoading()" />
  <div class="error" ng-show="isError()" style="color:red">
    {{ getErrorText() }}
  </div>
  <ul class="no_results" ng-show="tree_rows.length == 0 && !isLoading()"><li>{{ emptyText }}</li></ul>
  <ul class="abn-tree nav tree_elements" ng-show="!isLoading()">
    <ul ng-repeat="row in tree_rows | filter: abn_filter_value | filter:{visible:true} track by row.branch.uid"
        ng-animate="'abn-tree-animate'"
        ng-class="'level-' + {$ row.level $} + (row.branch.selected? ' active':'')"
        ng-class-odd="'dark-stripe'"
        ng-class-even="'light-stripe'"
        class="abn-tree-row nav nav-pills btn-group tree_element{{$last ? ' last-stripe': ''}}"
        ng-click="row.branch.expanded = !row.branch.expanded">
      <li ng-click="user_clicks_branch(row.branch)" class="indented">
        <span class="display_name tree-label">
          <b style="font-size:20px" ng-show="row.branch.children && row.branch.children.length > 0 && !row.branch.expanded">+</b>
          <b style="font-size:20px" ng-show="row.branch.children && row.branch.children.length > 0 && row.branch.expanded">-</b>
          <b style="font-size:20px" ng-show="!row.branch.children || row.branch.children.length == 0">&nbsp;&nbsp;</b>
          {{ row.label }}
        </span>
      </li>
      <li class="active">
        <a class="btn btn-primary" ng-show="row.branch.onAdd != null" ng-click="user_clicks_add(row.branch)">+</a>
      </li>
      <li class="active">
        <a class="btn" ng-show="row.branch.onEdit != null" ng-click="user_clicks_edit(row.branch)">Edit</a>
      </li>
      <li class="active">
        <a class="btn btn-primary pull-right" ng-show="row.branch.onRemove != null" ng-click="user_clicks_remove(row.branch)">-</a>
      </li>
    </ul>
  </ul>
</div>
